@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MI TIENDITA</h1>
    <img src="https://www.ceupe.com/images/easyblog_articles/3625/b2ap3_large_que-es-un-tienda-online.png" alt="Bienvenido Administrador" class="img-fluid" width="400" height="900" />
    <p class="lead">Bienvenido a MI TIENDITA. En esta página web, puedes visitar el prototipo de tu tienda online.</p>
</div>

